In [1]:
import requests
import os
from datetime import datetime
from dotenv import load_dotenv
from pathlib import Path
import numpy as np
import pandas as pd 

dotenv_path = Path('.env')
load_dotenv(dotenv_path=dotenv_path)

ELASTIC_PORT = os.environ.get("ELASTIC_PORT", None)
ELASTIC_USERNAME = os.environ.get("ELASTIC_USERNAME", None)
ELASTIC_PASSWORD = os.environ.get("ELASTIC_PASSWORD", None)

assert ELASTIC_PORT is not None, "ELASTIC_PORT is not set"
assert ELASTIC_USERNAME is not None, "ELASTIC_USERNAME is not set"
assert ELASTIC_PASSWORD is not None, "ELASTIC_PASSWORD is not set"

config = {
    # Global config
    "HOST": "0.0.0.0",
    "PORT": ELASTIC_PORT,
    "USERNAME": ELASTIC_USERNAME,
    "PASSWORD": ELASTIC_PASSWORD,
    "INDEX": None,
    "RETURN_SIZE": 10,
    "CACHE_DIR": ".cache/",
    "DIMENSION": 2,
}

## Prepapre DB

In [2]:
import pandas as pd 
from tqdm import tqdm 
df = pd.read_csv('/home/vbs/vbs23/FIRST-Server/search_services/examples/elasticsearch/lsc23/lsc23.csv')

/tmp/ipykernel_3722324/1585871973.py:3: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('lsc23.csv')

In [7]:
# fill nan description with empty string
df = df.fillna('')
df.describe()

             new_lat        new_lng  movement_prob
count  723329.000000  723329.000000  723329.000000
mean       50.232795       2.246000       0.869080
std        10.934981      28.858598       0.169180
min       -37.824879     -75.702031       0.000000
25%        53.385440      -6.257253       0.792520
50%        53.386041      -6.174619       0.956895
75%        53.389969      -6.145784       0.991074
max        60.390785     144.953833       0.999939

In [8]:
df.head()

,minute_id,stop,new_lat,new_lng,semantic_name,foursquare_id,original_name,categories,parent,movement,movement_prob,city,country,new_timezone,index,ImageID,Tags,OCR,Caption,CaptionScore
0,20190101_1037,True,53.38998,-6.14576,HOME,,,,,Inside,0.981373,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103717_000,20190101_103717_000.jpg,indoor,,a window with a curtain,0.367844
1,20190101_1037,True,53.38998,-6.14576,HOME,,,,,Inside,0.997463,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103749_000,20190101_103749_000.jpg,"wall,indoor,room,furniture",,a room with a shelf and a mirror,0.277621
2,20190101_1038,True,53.38998,-6.14576,HOME,,,,,Inside,0.875969,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103821_000,20190101_103821_000.jpg,"building,window",,a view of a building from a window,0.349112
3,20190101_1038,True,53.38998,-6.14576,HOME,,,,,Inside,0.998937,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103853_000,20190101_103853_000.jpg,"indoor,wall,person,counter,cluttered",,a person in a kitchen,0.491968
4,20190101_1039,True,53.38998,-6.14576,HOME,,,,,Inside,0.756499,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103925_000,20190101_103925_000.jpg,"indoor,wall",,a black rectangular object with a white object...,0.33464

In [13]:
def minute_id_to_datetime(minute_id):
    # 20190101_1037 
    year = int(minute_id[:4])
    month = int(minute_id[4:6])
    day = int(minute_id[6:8])
    hour = int(minute_id[9:11])
    minute = int(minute_id[11:13])
    return datetime(year, month, day, hour, minute)

def datetime_to_ymd(datetime):
    return datetime.strftime("%Y%m%d")

df['date'] = df['minute_id'].apply(minute_id_to_datetime).apply(datetime_to_ymd)
df.drop(columns=['minute_id'], inplace=True)
df.head()

,stop,new_lat,new_lng,semantic_name,foursquare_id,original_name,categories,parent,movement,movement_prob,city,country,new_timezone,index,ImageID,Tags,OCR,Caption,CaptionScore,date
0,True,53.38998,-6.14576,HOME,,,,,Inside,0.981373,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103717_000,20190101_103717_000.jpg,indoor,,a window with a curtain,0.367844,20190101
1,True,53.38998,-6.14576,HOME,,,,,Inside,0.997463,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103749_000,20190101_103749_000.jpg,"wall,indoor,room,furniture",,a room with a shelf and a mirror,0.277621,20190101
2,True,53.38998,-6.14576,HOME,,,,,Inside,0.875969,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103821_000,20190101_103821_000.jpg,"building,window",,a view of a building from a window,0.349112,20190101
3,True,53.38998,-6.14576,HOME,,,,,Inside,0.998937,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103853_000,20190101_103853_000.jpg,"indoor,wall,person,counter,cluttered",,a person in a kitchen,0.491968,20190101
4,True,53.38998,-6.14576,HOME,,,,,Inside,0.756499,"Dublin, Ireland, Leinster",Ireland,Europe/Dublin,20190101_103925_000,20190101_103925_000.jpg,"indoor,wall",,a black rectangular object with a white object...,0.33464,20190101

## Create index in Elasticsearch

In [14]:
from pysearch.elastic import ElasticProcessor
from pysearch.utils.time import nlp2datetime

In [15]:
config['INDEX'] = 'lsc23_db'
proc = ElasticProcessor(config)

Connected to Elasticsearch node

In [16]:
proc.available_indices()

dict_keys(['test'])

In [31]:
# proc.kill('vbs22_db')

In [19]:
from pandas.io.json import build_table_schema 

def df_schema_to_mapping(df_schema,timefield='date'):
    mapping = {}
    for col in df_schema['fields']:
        col_name = col['name']
        col_type = col['type']
        if col_type == 'string':
            col_type = 'text'
        if col_type == 'number':
            col_type = 'float'
        if col_name == timefield:
            col_type = 'date'
            mapping[col_name] = {
                'type': col_type,
                'format': 'basic_date'
            }
            continue
        mapping[col_name] = {
            'type': col_type
        }
    return mapping

def export_mapping(df):
    df_schema = build_table_schema(df)
    mapping = df_schema_to_mapping(df_schema)
    mapping = {
        "mappings": {
            "properties": mapping
        }
    }
    return mapping

mapping = export_mapping(df)
mapping

{'mappings': {'properties': {'index': {'type': 'text'},
   'stop': {'type': 'boolean'},
   'new_lat': {'type': 'float'},
   'new_lng': {'type': 'float'},
   'semantic_name': {'type': 'text'},
   'foursquare_id': {'type': 'text'},
   'original_name': {'type': 'text'},
   'categories': {'type': 'text'},
   'parent': {'type': 'text'},
   'movement': {'type': 'text'},
   'movement_prob': {'type': 'float'},
   'city': {'type': 'text'},
   'country': {'type': 'text'},
   'new_timezone': {'type': 'text'},
   'ImageID': {'type': 'text'},
   'Tags': {'type': 'text'},
   'OCR': {'type': 'text'},
   'Caption': {'type': 'text'},
   'CaptionScore': {'type': 'text'},
   'date': {'type': 'date', 'format': 'basic_date'}}}}

In [20]:
proc.index_dataframe(df, mapping)

100%|██████████| 723329/723329 [01:14<00:00, 9646.27it/s]

In [21]:
from pprint import pprint 
pprint(proc.info())

{'properties': {'Caption': {'type': 'text'},
                'CaptionScore': {'type': 'text'},
                'ImageID': {'type': 'text'},
                'OCR': {'type': 'text'},
                'Tags': {'type': 'text'},
                'categories': {'type': 'text'},
                'city': {'type': 'text'},
                'country': {'type': 'text'},
                'date': {'format': 'basic_date', 'type': 'date'},
                'foursquare_id': {'type': 'text'},
                'index': {'type': 'text'},
                'movement': {'type': 'text'},
                'movement_prob': {'type': 'float'},
                'new_lat': {'type': 'float'},
                'new_lng': {'type': 'float'},
                'new_timezone': {'type': 'text'},
                'original_name': {'type': 'text'},
                'parent': {'type': 'text'},
                'semantic_name': {'type': 'text'},
                'stop': {'type': 'boolean'}}}

In [24]:
date = nlp2datetime('1-1-2019')
date

datetime.datetime(2019, 1, 1, 14, 53, 28)

In [25]:
proc.search_text_closestday_pipeline('indoor', [], timefield='date', timestamp=date, filter=None)

Function run elapsed time: 0:00:00.000007

[{'_index': 'lsc23_db',
  '_id': '20190105_094900_000',
  '_score': 3.0192258,
  '_source': {'stop': True,
   'new_lat': 53.38676118,
   'new_lng': -6.1471107,
   'semantic_name': 'Charm Hand & Foot Spa',
   'foursquare_id': '',
   'original_name': '',
   'categories': '',
   'parent': '',
   'movement': 'Inside',
   'movement_prob': 0.9900733232498168,
   'city': 'Dublin, Ireland, Leinster',
   'country': 'Ireland',
   'new_timezone': 'Europe/Dublin',
   'ImageID': '20190105_094900_000.jpg',
   'Tags': 'text,indoor,wall',
   'OCR': 'Setting,the,Heating,Mode,Mode,utten,LPe,on,andh,modes,Comort,mo,he,2,when,the,har,mode,starts,tematically,as,the,dt,R,ndm,thuder,he,s,ton,moe,tarts,Note,mr,b,or,LA,he,r,the,sre,me,thie,s,heating,stas,Aercng,he,cates,that,e,he,aer,ing,emperature,the,acreen,anly,d,y,LA,b,the,heatran,Setting,a,Peraonalised,Heating.ProscamProsK,Setting,the,Temperature,A:and,-Buttons,1.,The,temperature,setting,range,Ao,of,the,heater,is,5Ce,sc,the,comte,button,to,select,the,desined,indoor,25,I1:00,economy,mode,,une,he,2.,Pross,the,A,button,the,temperature,figure,wi,start,to,fash,the,bemperature,you,need,3.,Once,you,have,reached,your,desired,temperature,setting,,pres,the,ave,the,serting,or,wat,for,10,seconds,and,the,heater,will,automatically,Se,mperature,setting,eheater,reaches,the,preset,temperature,,the,screen,will,no,longer,show,he,heater,is,i,standby,mode.,mperature,for,frest-hree,mode,is,5C,in,this,mode,,the,default',
   'Caption': 'a person holding a book',
   'CaptionScore': 0.385697454214096,
   'date': '20190105'}},
 {'_index': 'lsc23_db',
  '_id': '20190129_155203_000',
  '_score': 1.258137,
  '_source': {'stop': True,
   'new_lat': 53.3854878,
   'new_lng': -6.2572125,
   'semantic_name': 'Dublin City University (DCU)',
   'foursquare_id': '4b2a5ddaf964a520d7a724e3',
   'original_name': 'Dublin City University (DCU)',
   'categories': 'College and University',
   'parent': '',
   'movement': 'Inside',
   'movement_prob': 0.7432272434234619,
   'city': 'Dublin, Ireland, Leinster',
   'country': 'Ireland',
   'new_timezone': 'Europe/Dublin',
   'ImageID': '20190129_155203_000.jpg',
   'Tags': 'text,indoor,computer,display',
   'OCR': 'AIVE,18,mart,P,S,Thermentar,MLmpere,AmareAl,Amemn,Certi,He,Vi,Smart,indoor,Camer,wher,Champagne,Geld,HwilSmart,Hme,umtion,Contraller,for,iOS,Andr,D,n,Deme,Camers,P/T,w,Seurity,Survlance,y,HO,Ngh,vn,Claud,Serve,Camers,10e0p,FO,Wile,wi,Sart,Pl,t,w,Canpae,with,A,ooge,TTE,APP,Rmote,Contr,Pug,Sart,Hoe,De,Anvehere,and,Antine,Tmins,and,Camera,with,Survellance,Systa,n,uby,Cryng,Pet,Eider,Mantngemte,Vie,Cemera,Securn,Ae,ting,The,a,nd,ter,H,Active,Hating,TheebyOLACA,ac,WFi,Smart,Pug,ea-Horky,Remote,Contrl,Sitch,Socket,Controing,Lghts,and,Appliance,by,Phone,Woing,with,Aon,Echo,#179.9,A,by,Phone,Wicogginge,pioreering,st,ALO,254,Sew,%,13,he,A,Lifvieg,earch,Chalemn,S,SAMSUNG',
   'Caption': 'a computer screen with a white background',
   'CaptionScore': 0.3481366634368896,
   'date': '20190129'}},
 {'_index': 'lsc23_db',
  '_id': '20190128_110930_000',
  '_score': 0.7462516,
  '_source': {'stop': True,
   'new_lat': 53.38691095,
   'new_lng': -6.25753393,
   'semantic_name': 'Dublin City University (DCU)',
   'foursquare_id': '4b2a5ddaf964a520d7a724e3',
   'original_name': 'Dublin City University (DCU)',
   'categories': 'College and University',
   'parent': '',
   'movement': 'Inside',
   'movement_prob': 0.9018421173095704,
   'city': 'Dublin, Ireland, Leinster',
   'country': 'Ireland',
   'new_timezone': 'Europe/Dublin',
   'ImageID': '20190128_110930_000.jpg',
   'Tags': 'text,indoor,computer,table,desk,wall,keyboard,cluttered,desktop',
   'OCR': 'KORPTO,Human,C,l,rean,eraction,n,acton,ogton,amillan.ce,ed,instance,and,ABSTRACT,Vid,t,e,me,ng,w,ad,deste,cvE,rnees,thee,dh,visn,sentation,wion,that,can,t,he,ee,Mark,trie,ly,al,wwly,ha,per,we,p,a,h,partial,m,the,effeetive,Tatechni,hger,that,ofrs,the,e,fvent,ind,e,dee,and,stpoets,wwwn,el,t,of,wieat,de,cle,that,hw,interton,berwe,repotves,In,lee,ww,fond,that,grating,caal,lanions,shou,t,p,t,reteval,performae,va,en,callae,the,wore,bet,dferent,2OH,tcer,owi,CCS,CONCEPTS,Computer,ystems,ganieation,Euhedded,ysten,deancB,tic,Natwerks,Network,a,ty,KEYWORDS,Cly,,C,rtin,Rrtral,ACM,aterene,Formt,A,e,OWIro,om,WhC,A,r,Rvaria,J,e,ee,Cda,ACM,Nw,Ywk,NY,USA.,paprs,I,INTRODUCTION,ww,she,icessing,ner,of,video,caievas,an,bth,indoor,and,r,laontheve,that,n,dt,ah,alvent,ccrences,and,retrieve,semantie,w,f,intert,Desgite,the,appearance,of,many,adva,s,omputer,vn,ch,as,--,t,i,e,growing,demand,for,intellge,yste,w,pt,pan,y,c,aneed,pred,olved,challenge,In,onder,to,beider,the,eee,understane,m,ed,ced,wstanding,and,tee,wmant,undeetand,station,ry,te,undertand,the,caality,in,an,intesra,landing,and,visi,The,ene,with,ohers,mans,ohjects,Causal,rea,aseing,is,the,process,fert,can,but,any,topics,with,the,sid,of,causal,this,naturally,teanlates,into,semantic,activity,Tidentdying,caality,the,relationship,between,a,case,and,its,eaction,foc,an,hu,pple,deatandang,can,be,repart,Ch(a,aded,dons,@,SAMSUNG',
   'Caption': 'a computer monitor and keyboard',
   'CaptionScore': 0.3995275199413299,
   'date': '20190128'}},
 {'_index': 'lsc23_db',
  '_id': '20190128_105108_000',
  '_score': 0.6697595,
  '_source': {'stop': True,
   'new_lat': 53.38691095,
   'new_lng': -6.25753393,
   'semantic_name': 'Dublin City University (DCU)',
   'foursquare_id': '4b2a5ddaf964a520d7a724e3',
   'original_name': 'Dublin City University (DCU)',
   'categories': 'College and University',
   'parent': '',
   'movement': 'Inside',
   'movement_prob': 0.9040339589118958,
   'city': 'Dublin, Ireland, Leinster',
   'country': 'Ireland',
   'new_timezone': 'Europe/Dublin',
   'ImageID': '20190128_105108_000.jpg',
   'Tags': 'text,indoor,table,computer,desk,cluttered',
   'OCR': 'Human,Obj,Vid,acy,meg,e,cmers,sou,thee,a,E,ABSTRACT,o,gle,cer,rifect,H,tand,the,casusaity,in,the,a,the,Caual,reasoning,mne,Hae,I,E,Y,sh,ship,between,a,dng,and,prediction,is,still,an,rcognin,Macki,the,relan,Anging,p,d,dgeeent,adne,mlwoldeto,hat,an,not,pertial,cchonco,Taem,e,that,ains,Tee,te,ele,cin,vide,lipe,that,shw,anter,Prpe,berw,ween,the,lant,vide,al,e,derent,caners,virints,This,filtale,t,inferacT,Appesech,to,the,claification,and,we,the,cameeifece,etons,happened,berwem,hum,and,obiectsin,nperave,ide,retrieval,relts,was,fod,that,integrting,a,sh,A,mali,but,spant,ve,t,in,retrie,fmce,v,ng,tranfer,entrey,tocaeulate,the,scer,be,dufenent,Oe,eging,e,e,are,ot,ww,sems,,mir,erl,CCS,CONCEPTS,Computer,systems,arganisation,Embedded,systems,Andecy,Roboti,Networks-Network,relubility,mul,i,prt,TIOND,ELARS,ien,ther,nter,se,NIHIMIIR,NeTn,C,PN,SWWeetion,NIM,t,fron,pracin,SU,enpr,KEYWORDS,Caualy,HOt,ormation,Retrieval,ACM,Reference,Format,a,Sbo,Han,Ce,oteton,wwhC,Wd,ACM,Sympom,Nural,Case,Deiection,Jwwr,AVE,D,NY,ACM,New,York,NY,USA,pagrs,batp,I,INTRODUCTION,Wah,the,ineessing,ounber,of,surveillance,cameras,in,both,indoor,and,outdor,locations,there,is,a,growing,demand,for,an,intelligent,ytem,that,an,detect,abormal,event,occerences,Despi,ppearanee,of,many,advanced,techniges,in,cemputer,vision,,uch,aimproved,instance,and,huan,action,recognition,,surveillance,videe,understanding,and,prediction,is,still,an,unsolved,challenge,der,to,beidge,the,gp,between,the,sementic,understanding,and,vison,ep,ntation,,it,is,necessary,to,understand,the,causality,in,Human,nteraction,with,others,humans,or,objects,Causal,reasoning,the,pecess,of,identifyingg,causality,the,relationship,between,a,rer,and,its,effect,Human,can,reason,sbout,many,topics,with,the,aid,of,caal,understanding,Understanding,depends,on,the,ability,te,the,954,(MRrepert,Cha,(a),X,XW,S,See,t,SAMSUNG,Popen@,dona,@',
   'Caption': 'a computer monitor and a mug',
   'CaptionScore': 0.3750777244567871,
   'date': '20190128'}},
 {'_index': 'lsc23_db',
  '_id': '20190128_105315_000',
  '_score': 0.62800467,
  '_source': {'stop': True,
   'new_lat': 53.38691095,
   'new_lng': -6.25753393,
   'semantic_name': 'Dublin City University (DCU)',
   'foursquare_id': '4b2a5ddaf964a520d7a724e3',
   'original_name': 'Dublin City University (DCU)',
   'categories': 'College and University',
   'parent': '',
   'movement': 'Inside',
   'movement_prob': 0.8840337991714478,
   'city': 'Dublin, Ireland, Leinster',
   'country': 'Ireland',
   'new_timezone': 'Europe/Dublin',
   'ImageID': '20190128_105315_000.jpg',
   'Tags': 'text,indoor,wall,desk,cluttered',
   'OCR': 'A,ing,tranfe,gratioo,dundancy,Rotice,Netwaks,Netwoork,ytems,Re,CHAOINIHON,Oine,Human,Object,Ir,Anonym,ABSTRACT,Vide,y,mg,fhem,ple,cames,ources,i,a,M,and,ete,gng,and,mal,woll,teraction,that,ean,net,Ie,seegnind,fr,car,mpte,ece,ancthe,se,stl,many,ty,SEAHE,h,a,pertl,ech,co,pe,Mackapots,in,rthe,relationahap,Peper,we,p,atehne,that,si,Tweenw,d,t,hu,n,rete,in,ndeo,p,esnd,and,retrie,wdecant,vdee,den,that,show,nteraction,between,the,indivic,o,twe,ferent,caees,vw,This,factates,P,a,pert,ran,net,a,n,toder,he,to,the,cla,e,v,prh,to,the,classiicatine,nd,ue,the,cou-effect,retriev,ai,to,happened,between,homen,and,obects,in,video,t,improve,videe,etrieal,reals,wfownd,that,ntegrating,ca,T,er,od,sA,matu,wwatio,ho,ll,bt,sigwiicam,mpowement,in,retrieval,pes,mane,via,sing,traer,ntrepy,to,calolate,the,e,betweer,feret,HO,SULUR,te,t,CCS,CONCEPTS,Computer,systems,ganization,Embedded,systems,Re,dundency,Roics,Netwoarks,Network,reliablaty,KEYWORDSS,ing,OMYTH,sis,ro.iom,Cuslty,HOL,,ormation,Ratrieval,ACM,Raferene,Fermat,Anm,CMa,S,Hma,Cct,Idersction,Uwa,Cel,e,d,ACM,Smpestn,n,Nerl,Gese,Detetion,June,A,wdck,NY,ACM,Nw,Yk,NY.,USA,,oprs,hitp,the,pr,eth,te,mimss,m,1,INTRODUCTION,wth,the,increaing,ber,of,surveillance,caneras,in,both,indoor,and,outdoor,locations,,there,is,a,growing,demand,for,an,intelligent,system,that,can,detect,abormal,event,ccurrences,Despite,the,arance,of,many,sdvaned,techiques,in,computer,vision,,such,proved,instance,and,human,action,recognition,,surveillance,vle,understading,and,peedition,is,still,an,unsolved,challenge,a,RI,nerrsing,o,et,mtiguren,i,la,hehn,is,tige,eparatey,eeting,anhes,e,is,er,w,in,der,to,vi,epesenationtnecessary,to,understand,the,causalaty,in,Huan,interaction,with,others,humans,or,objects.,Causal,reasoning,sthe,proces,of,identifying,causality:,the,relationahip,between,a,ce,nd,its,ellect,Humans,can,reason,about,many,topics,with,the,ad,of,cal,understanding,Understanding,derpends,on,the,abslity,per,ing,w,a,pe,l,p,r,ander,bridge,p,between,the,semantic,understanding,and,the,fee,e,(MRrepert,X,XWS,Chou,(a),SAMSUNG,Popen@,dona',
   'Caption': 'a computer monitor and mug on a desk',
   'CaptionScore': 0.4093095362186432,
   'date': '20190128'}},
 {'_index': 'lsc23_db',
  '_id': '20190204_112018_000',
  '_score': 0.5488895,
  '_source': {'stop': True,
   'new_lat': 53.3854832,
   'new_lng': -6.2571853,
   'semantic_name': 'Dublin City University (DCU)',
   'foursquare_id': '4b2a5ddaf964a520d7a724e3',
   'original_name': 'Dublin City University (DCU)',
   'categories': 'College and University',
   'parent': '',
   'movement': 'Cycling',
   'movement_prob': 0.4323443472385406,
   'city': 'Dublin, Ireland, Leinster',
   'country': 'Ireland',
   'new_timezone': 'Europe/Dublin',
   'ImageID': '20190204_112018_000.jpg',
   'Tags': 'text,indoor,computer,desk,keyboard,display',
   'OCR': "3115,non,B151,EN,SH,UU,Br,.,ACMO,e,ABB,E,OP,DO,Kamea,On,co,UP,T:O_BLRY,SONG,141,VDeme,Camera,100p,HO,Pa/T/om,Wialess,Seuty,Survettence,Stem,ght,vien,Coud,Service,Aailable,2pc,Y0OP,Home,Camera,wies,indoor,Secuty,PCamer,wth,Nht,Vesien,Maton,Detertion,Te,Way,Aude,Heme,Secty,S,eveitance,Sagem,for,m,fce/,em,Hear,AIB,y,5,tARting,1,bu,tly,y,Campu,anty,Ouedoor,P,Camera,Wireles,108OP,HO,Hame,Security,Camera,Weathergroof,ulet,Survetre,Camera,with,Twe-Way,Aude,Nght,v,he,Vision,Metien,Detection,and,Cleud,Serdce,TIRED,OF,BUS,STOPS,IN,THE,RAIN?,he,C,MEC,cas,r,i,Thanks,reat,dyour,iinge,he,Frday-Pha's,you,at,he,e,Peedien,he,Fst,fCompnD,C,Sho,Compng,M,I,Cy,ey,Camp,Lo,Gre,priperswtee,Teer,Proprentimt,Chanm,e,Ime,e,ad,en,One,repert,SAMSUNG,190472",
   'Caption': 'a computer screen with a note',
   'CaptionScore': 0.3191730678081512,
   'date': '20190204'}},
 {'_index': 'lsc23_db',
  '_id': '20190128_105349_000',
  '_score': 0.52872324,
  '_source': {'stop': True,
   'new_lat': 53.38691095,
   'new_lng': -6.25753393,
   'semantic_name': 'Dublin City University (DCU)',
   'foursquare_id': '4b2a5ddaf964a520d7a724e3',
   'original_name': 'Dublin City University (DCU)',
   'categories': 'College and University',
   'parent': '',
   'movement': 'Inside',
   'movement_prob': 0.8811076283454895,
   'city': 'Dublin, Ireland, Leinster',
   'country': 'Ireland',
   'new_timezone': 'Europe/Dublin',
   'ImageID': '20190128_105349_000.jpg',
   'Tags': 'text,indoor,desk,cluttered',
   'OCR': 'i,.com,tr,esemanti,erstanding,and,tie,i,e,atun,mun,21183,MOMRINIS,AnA,O,Human,Object,Interac,Anonymous,ICME,Vi,t,y,mg,from,maile,camers,aources,is,achal,ging,t,and,dpe,revest,adrancs,theee,are,s,any,tyes,te,nterac,danN,th,ud,wl,w,o,that,can,no,he,recugnied,f,vari,ABSTRACT,BRADHE,t,a,echi,c,age,Mk,weva,vd,clps,that,shos,terto,etween,te,indevidu-,s,a,ch,pertl,echin,p,ch,a,pert,an,e,peen,we,pewt,a,echipar,that,sian,te,des,the,lat,g,t,bumn,ncts,leo,se,and,snd,etreve,fr,te,Aferet,caera,viewo,Ths,l,tesnavel,r,h,n,e,vne,trieval,eets,ch,t,le,st,ofrt,happened,beteen,ho,and,shects,in,video,te,ph,te,te,classiatioe,and,we,the,cose,ffret,etrieval,ere,w,ww.fnd,that,integrating,causal,laons,heramall,but,sigsict,improement,in,setrieval,per,ne,va,ing,transfes,liy,bo,rolulate,the,wore,between,et,O,tr,vde,retri,en,hm,atat,he,e,of,CCS,CONCEPTS,Computer,ystems,ganization,Embedded,systems,Re,dendeney,Rolatice,Networks,Network,reliabty,Inte,per,KEYWORDS,Causalty,HOL,ation,Retrieval,ACM,Rafere,Fermat,A,S,an,Hn,Cetlaterton,wwhCau,y,in,Wdk,ACH,Sympeem,Nerural,Clese,Deection,June,wdk,NY,ACM,New,York,NY.,USA,,psgrs,htp,g,e,.,s,the,ferer,has,w,shap,and,c,attem,to,an,wItigte,w,The,Ais,omenrie,re,mereni,I,INTRODUCTION,wh,the,jgrrasing,umber,of,surveillance,comeras,in,both,indoor,and,ouldo,locationa,there,is,a,gnwing,demand,for,sn,intelligent,wytem,that,ean,detect,abnormal,event,eoccurrences.,Despite,the,ppearance,of,many,advanced,techusigars,in,computer,vision,,such,asimpeved,instance,and,human,action,recognition.,surveillance,viden,understanding,and,prediction,is,still,an,unsolved,challenge,la,der,to,bedge,the,gap,bctween,the,seenantic,understanding,and,ww.it,nne,a,es,ren,he,nereend,actio,frame,reri,e.,mance,that,o,e,p,t,n,rie,eta,at,at,ri,object,cleasly,ed,paey,iurel,w,i,hrt,r,lam,e,whn,tagure,w,r,g,ng,the,the,r,m,t,a,errng,ler,e,focusec,viaon,epresntation,Human,teraution,with,others,humans,o,objects.,Causal,reasoning,the,peocess,of,dentidying,causality,the,relationship,between,a,cae,and,ts,effect,Hamana,can,reason,about,many,topies,with,the,ad,of,causal,understandin,Understandung,depends,on,the,ability,s,necessary,to,understand,the,causality,in,oT,Cad,r,,w,n,red,ay,e,th,ws,eri,y,pern,an,hue,ten,ti,applied,can,he,Chalng,(mR,repart,Chau,(a),W,目,S,SAMSUNG,Seek,Srebies@,Popen@,dona,@',
   'Caption': 'a computer screen with a keyboard and a mug',
   'CaptionScore': 0.3121832907199859,
   'date': '20190128'}},
 {'_index': 'lsc23_db',
  '_id': '20190101_103717_000',
  '_score': 0.39331332,
  '_source': {'stop': True,
   'new_lat': 53.38998,
   'new_lng': -6.1457602,
   'semantic_name': 'HOME',
   'foursquare_id': '',
   'original_name': '',
   'categories': '',
   'parent': '',
   'movement': 'Inside',
   'movement_prob': 0.9813727140426636,
   'city': 'Dublin, Ireland, Leinster',
   'country': 'Ireland',
   'new_timezone': 'Europe/Dublin',
   'ImageID': '20190101_103717_000.jpg',
   'Tags': 'indoor',
   'OCR': '',
   'Caption': 'a window with a curtain',
   'CaptionScore': 0.3678438365459442,
   'date': '20190101'}},
 {'_index': 'lsc23_db',
  '_id': '20190101_103957_000',
  '_score': 0.39331332,
  '_source': {'stop': True,
   'new_lat': 53.38998,
   'new_lng': -6.1457602,
   'semantic_name': 'HOME',
   'foursquare_id': '',
   'original_name': '',
   'categories': '',
   'parent': '',
   'movement': 'Inside',
   'movement_prob': 0.8844677805900574,
   'city': 'Dublin, Ireland, Leinster',
   'country': 'Ireland',
   'new_timezone': 'Europe/Dublin',
   'ImageID': '20190101_103957_000.jpg',
   'Tags': 'indoor',
   'OCR': '',
   'Caption': 'a view of a house from a window',
   'CaptionScore': 0.3419414162635803,
   'date': '20190101'}},
 {'_index': 'lsc23_db',
  '_id': '20190101_110130_000',
  '_score': 0.39331332,
  '_source': {'stop': True,
   'new_lat': 53.38998,
   'new_lng': -6.1457602,
   'semantic_name': 'HOME',
   'foursquare_id': '',
   'original_name': '',
   'categories': '',
   'parent': '',
   'movement': 'Inside',
   'movement_prob': 0.6246401071548462,
   'city': 'Dublin, Ireland, Leinster',
   'country': 'Ireland',
   'new_timezone': 'Europe/Dublin',
   'ImageID': '20190101_110130_000.jpg',
   'Tags': 'indoor',
   'OCR': 'REPRESHE',
   'Caption': "a person's leg and a pair of shoes on a bed",
   'CaptionScore': 0.4010519385337829,
   'date': '20190101'}}]